################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WPF Checkboxes/.vs/WPF Checkboxes/FileContentIndex/c4b945bd-c2f1-4834-a183-0d600ebdf010.vsidx
/WPF Checkboxes/.vs/WPF Checkboxes/DesignTimeBuild/.dtbcache.v2
/WPF Checkboxes/.vs/WPF Checkboxes/v17/.suo
/WPF Checkboxes/.vs/WPF Checkboxes/v17/DocumentLayout.backup.json
/WPF Checkboxes/.vs/WPF Checkboxes/v17/DocumentLayout.json
/WPF DateTimePicker/.vs/WPF DateTimePicker/FileContentIndex/078c2d66-10d2-4b80-98ac-d331ba64241f.vsidx
/WPF DateTimePicker/.vs/WPF DateTimePicker/DesignTimeBuild/.dtbcache.v2
/WPF DateTimePicker/.vs/WPF DateTimePicker/v17/.futdcache.v2
/WPF DateTimePicker/.vs/WPF DateTimePicker/v17/.suo
/WPF DateTimePicker/.vs/WPF DateTimePicker/v17/DocumentLayout.backup.json
/WPF DateTimePicker/.vs/WPF DateTimePicker/v17/DocumentLayout.json
/WPF DateTimePicker/.vs/ProjectEvaluation/wpf datetimepicker.metadata.v9.bin
/WPF DateTimePicker/.vs/ProjectEvaluation/wpf datetimepicker.projects.v9.bin
/WPF DateTimePicker/.vs/ProjectEvaluation/wpf datetimepicker.strings.v9.bin
/WPF ListView/.vs/WPF ListView/DesignTimeBuild/.dtbcache.v2
/WPF Text/.vs/WPF Text/DesignTimeBuild/.dtbcache.v2
/WPF Timer/.vs/WPF Timer/FileContentIndex/d4052a2f-bd3e-4383-bc6a-262bd0793f72.vsidx
/WPF Timer/.vs/WPF Timer/DesignTimeBuild/.dtbcache.v2
/WPF Timer/.vs/WPF Timer/v17/.futdcache.v2
/WPF Timer/.vs/WPF Timer/v17/.suo
/WPF Timer/.vs/WPF Timer/v17/DocumentLayout.json
/WPF Timer/.vs/ProjectEvaluation/wpf timer.metadata.v9.bin
/WPF Timer/.vs/ProjectEvaluation/wpf timer.projects.v9.bin
/WPF Timer/.vs/ProjectEvaluation/wpf timer.strings.v9.bin
/WPF Timer/WPF Timer/obj/Debug/netcoreapp3.1/WPF Timer.AssemblyInfo.cs
/WPF Timer/WPF Timer/obj/Debug/netcoreapp3.1/WPF Timer.AssemblyInfoInputs.cache
/WPF Timer/WPF Timer/obj/Debug/netcoreapp3.1/WPF Timer_MarkupCompile.i.cache
/WPF Timer/WPF Timer/obj/Debug/netcoreapp3.1/WPF Timer_MarkupCompile.i.lref
/WPF Timer/.vs/WPF Timer/v17/DocumentLayout.backup.json
/WPF Timer/.vs/WPF Timer/FileContentIndex/ff6109b8-e733-4134-aaa1-befe5eb8d0cf.vsidx
/WPF TreeView/.vs/WPF TreeView/FileContentIndex/981e1932-44d5-4184-86c9-209d4e3f4226.vsidx
/WPF TreeView/.vs/WPF TreeView/FileContentIndex/065ea027-3a5b-4cfd-9dfc-1b21be0ec05e.vsidx
/WPF TreeView/.vs/WPF TreeView/FileContentIndex/read.lock
/WPF TreeView/WPF TreeView/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WPF TreeView/WPF TreeView/obj/Debug/MainWindow.baml
/WPF TreeView/WPF TreeView/obj/Debug/WPF TreeView_MarkupCompile.cache
/WPF TreeView/WPF TreeView/obj/Debug/WPF TreeView_MarkupCompile.lref
/WPF TreeView/.vs/WPF TreeView/v17/.suo
/WPF TreeView/.vs/WPF TreeView/v17/DocumentLayout.backup.json
/WPF TreeView/.vs/WPF TreeView/v17/DocumentLayout.json
/WPF TreeView/WPF TreeView/bin/Debug/WPF TreeView.exe
/WPF TreeView/WPF TreeView/bin/Debug/WPF TreeView.pdb
/WPF TreeView/WPF TreeView/obj/Debug/WPF TreeView.csproj.CoreCompileInputs.cache
/WPF TreeView/WPF TreeView/obj/Debug/WPF TreeView.csproj.FileListAbsolute.txt
/WPF TreeView/WPF TreeView/obj/Debug/WPF TreeView.csproj.GenerateResource.cache
/WPF TreeView/WPF TreeView/obj/Debug/WPF TreeView.exe
/WPF TreeView/WPF TreeView/obj/Debug/WPF TreeView.pdb
/WPF TreeView/.vs/WPF TreeView/FileContentIndex/0940caf1-3d35-49a0-a1ea-d656448ab85e.vsidx
/WPF TreeView/WPF TreeView/obj/Debug/WPF TreeView.g.resources
/WPF Timer/.vs/WPF Timer/FileContentIndex/3aaabfa8-6363-4ce5-99d4-c6f0b5e68df4.vsidx
/WPF TreeView/.vs/WPF TreeView/FileContentIndex/47726a9e-c3c8-419e-887e-96c62a496c73.vsidx
/WPF TreeView/.vs/WPF TreeView/FileContentIndex/950d0f6f-f103-4e3a-949a-0c5e3ac9050d.vsidx
/WPF TreeView/.vs/WPF TreeView/FileContentIndex/e6e8fd50-06f9-469a-a553-51cc6303c465.vsidx
/WPF Checkboxes/.vs/WPF Checkboxes/FileContentIndex/5927d128-3ac4-4b16-8acb-c99a0fe7498b.vsidx
/WPF Checkboxes/.vs/WPF Checkboxes/FileContentIndex/65a81ecc-ddcd-4548-b9e7-08c1b031b839.vsidx
/WPF Checkboxes/.vs/ProjectEvaluation/wpf checkboxes.metadata.v9.bin
/WPF Checkboxes/.vs/ProjectEvaluation/wpf checkboxes.projects.v9.bin
/WPF Checkboxes/.vs/ProjectEvaluation/wpf checkboxes.strings.v9.bin
/WPF Checkboxes/.vs/WPF Checkboxes/FileContentIndex/7eb913bf-2bef-42c9-a59c-4f84a110e504.vsidx
/WPF Checkboxes/.vs/WPF Checkboxes/v17/.futdcache.v2
/WPF TabControl/.vs/ProjectEvaluation/tabcontrol.metadata.v9.bin
/WPF TabControl/.vs/ProjectEvaluation/tabcontrol.projects.v9.bin
/WPF TabControl/.vs/ProjectEvaluation/tabcontrol.strings.v9.bin
/WPF TabControl/.vs/TabControl/DesignTimeBuild/.dtbcache.v2
/WPF TabControl/.vs/TabControl/FileContentIndex/6512af4c-7a84-4555-aa55-24a28ec364b3.vsidx
/WPF TabControl/.vs/TabControl/v17/.futdcache.v2
/WPF TabControl/.vs/TabControl/FileContentIndex/930000e4-ede9-4357-b727-990b61aa00eb.vsidx
/WPF TabControl/.vs/TabControl/FileContentIndex
/WPF TreeView/.vs/WPF TreeView/FileContentIndex/b3f24570-7bd1-449e-ae25-0979ad15a225.vsidx
/WPF TreeView/.vs/WPF TreeView/FileContentIndex/2c65e2ad-2a63-4a01-934d-38ec1b2aa945.vsidx
*.vsidx
